.matrix{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: 13px;

}
.row
{
    white-space: nowrap;
    margin: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
}
.row[_ngcontent-xrq-c49] {
  white-space: nowrap;
  margin: 6px;
  cursor: pointer;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.column{
  max-width: max-content;
}

.selected{
  filter: drop-shadow(2px 5px 7px black);
}
.desk{
  width: 10%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;

  .dashboard{
    background-color: aliceblue;
    width: 70%;
    display: flex;
    border-radius: 25px;


    .category{
      display: flex;
      background-color: rgb(31, 31, 31);
      border-radius: 25px 0 0 25px;
      padding: 15px;
      align-items: center;
      color: aliceblue;
      width: 170px;

      .link{
        cursor: pointer;
      }
    }

    .options{
      text-align: -webkit-center;
      padding: 17px;
      width: 340px;
      font-weight: 700;

      .rowSelector{
        margin-top: 50px;

      }
    }





    .studentDetails{
      width: 100%;
      display: flex;
      flex-direction: column;

      .tableHeading{
        display: flex;
        justify-content: center;
      }

      .information{
        display: flex;
        justify-content: center;
        height: 15%;

        .input{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .buttonControls{
        display: flex;
        justify-content: center;

        button{
          margin: 45px;
        }
      }



    }

  }


}

input{
  background: none;
  font-size: 18px;
  padding: 7px;
  border-radius: 10px;
  width: 88%;
}

