
<div class="main">
  <div class="dashboard">
    <div class="category">
      <div class="category_div">
        <h3 class="link" (click)="goToPage('/studentList')">Students</h3>
        <h3 class="link" (click)="goToPage('/')">Classroom</h3>
      </div>
    </div>
    <div class="options">
      <div class="inputs">
        <label for="numberOfRows">Enter number of rows for matrix: </label>
        <div class="input-group mb-3">
          <input max="10" type="text" class="form-control" placeholder="type.." aria-label="Username" aria-describedby="basic-addon1" [formControl]="numberOfRows">
        </div>
        <label for="numberOfColumns">Enter number of cols for matrix: </label>
                <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="type.." aria-label="Username" aria-describedby="basic-addon1" [formControl]="numberOfColumns">
        </div>

        <button type="button" class="btn btn-primary" (click)="makeMatrix()">Make matrix</button>

        <div class="rowSelector">
        <label for="rows">Nuber of rows: </label>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="type row to highlight" aria-label="Username" aria-describedby="basic-addon1" [formControl]="rows" (focusout)="updateRows()">
        </div>
        </div>
      </div>


    </div>
    <div class="studentDetails" >
      <div class="tableHeading">
        <h3>Classroom layout</h3>
      </div>

      <div class="matrix">
        <div   *ngFor="let row of studentService.matrix; let i = index;" class="row" (click)="selectRow($event, i); updateRows()">
          <div class="desk" *ngFor="let col of row; let j = index">
            <svg [ngClass]="{'selected' : this.selectedRow.includes(i+1)  }"  class="column" xmlns="http://www.w3.org/2000/svg" width="35" height="28" viewBox="0 0 35 28">
              <g id="Group_1" data-name="Group 1" transform="translate(-460 -189)">
                <rect id="Rectangle_1" data-name="Rectangle 1" width="35" height="20" rx="5" transform="translate(460 189)" fill="#6595f6"/>
                <rect id="Rectangle_2" data-name="Rectangle 2" width="7" height="6" rx="2" transform="translate(474 211)" fill="#6595f6"/>
              </g>
            </svg>
            {{this.studentService.matrix[i][j].name}}
          </div>
          <div class="student">

          </div>
        </div>
      </div>



    </div>
  </div>
</div>
