
  <div class="main">
    <div class="dashboard">
      <div class="category">
        <div class="category_div">
          <h3 class="link" (click)="goToPage('/studentList')">Students</h3>
          <h3 class="link" (click)="goToPage('/')">Classroom</h3>
        </div>
      </div>
      <div class="studentList">
        <div>
          <div *ngFor="let student of students" [ngClass]="{'selectedStud' : selectedStudent == student}" (click)="selectStudent($event, student)"  class="student">
            {{student.name}} {{student.surname}}
          </div>
        </div>
      </div>
      <div class="studentDetails" >
        <div class="tableHeading">
          <h3>Student details</h3>
        </div>
        <div class="information">
          <div class="input">
            <label for="name">Student name</label>
            <input id="studentName" type="text" class="name" [formControl]="studentName">
          </div>
          <div class="input">
            <label for="surname">Student surname</label>
            <input type="text" class="surname"  [formControl]="studentSurname">
          </div>
        </div>
        <div class="information">
          <div class="input">
            <label for="id">Student ID</label>
            <input type="text" class="id"  [formControl]="studentID">
          </div>
          <div class="input">
            <label for="jmbg">Student JMBG</label>
            <input type="text" class="jmbg"  [formControl]="studentJMBAG">
          </div>
        </div>
        <div class="buttonControls">
          <div class="deleteButton">
            <button type="button" class="btn btn-primary" (click)="deleteStudent()">Delete student</button>
          </div>
          <div class="saveButton">
            <button type="button" class="btn btn-primary" (click)="updateStudentData()">Save changes</button>
          </div>
        </div>
        <div class="addStudent">
          <div class="addStudButton">
            <button type="button" class="btn btn-primary" (click)="showModal()">Add new student</button>
          </div>
        </div>
        <div class="rowAssignOut">
          <div *ngIf="this.selectedStudent.id != 0" class="rowAssign">
            <label for="jmbg">Assign this student to row :</label>
            <input type="number" class="jmbg" [formControl]="rowToAssign">
            <button type="button" class="btn btn-primary" (click)="assignStudent();" >Assign</button>
          </div>

      </div>
      </div>
    </div>
  </div>


  <app-add-student class="modal" *ngIf="addStudentDisplayStatus"

  (closeModalFunc)="closeModalFunc($event)"
  (click)="stopPropagation($event)">>

  </app-add-student>
  <div class="warning">
    <div *ngIf="this.studentFound" class="alert alert-danger" role="alert">
      Student is already assigned
    </div>
    <div *ngIf="this.rowFull" class="alert alert-danger" role="alert">
      Row is full! Please try another row
    </div>
    <div *ngIf="this.studentAdded" class="alert alert-success" role="alert">
      Student succssesfuly added to row {{rowPrint}}
    </div>
    <div *ngIf="this.numberOfRows == 0 || this.numberOfCols == 0" class="alert alert-danger" role="alert">
      Insuficient values for rows and cols in Classroom <br>
      (set values for number of rows and cols)
    </div>


  </div>






















>


