

  .main{
    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;

    .dashboard{
      background-color: aliceblue;
      width: 70%;
      display: flex;
      border-radius: 25px;


      .category{
        display: flex;
        background-color: rgb(31, 31, 31);
        border-radius: 25px 0 0 25px;
        padding: 15px;
        align-items: center;
        color: aliceblue;
        width: 170px;

        .link{
          cursor: pointer;
        }
      }

      .studentList{
        width: 275px;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        overflow: auto;
      }

      .student{
        cursor: pointer;
      }

      .selectedStud{
        color: #D3B401;
      }

      .studentDetails{
        width: 100%;
        display: flex;
        flex-direction: column;

        .tableHeading{
          display: flex;
          justify-content: center;
        }

        .information{
          display: flex;
          justify-content: center;
          height: 15%;

          .input{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        .buttonControls{
          display: flex;
          justify-content: center;

          button{
            margin: 45px;
          }
        }

        .addStudent{
          display: flex;
          justify-content: center;
        }

        .rowAssignOut{

          display: flex;
          justify-content: center;
          margin: 30px;

          .rowAssign{
            display: flex;
            flex-direction: column;
            align-items: center;

          }

        }
      }

    }


  }

  input{
    background: none;
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    width: 88%;
  }



  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #272727c5; /* Fallback color */
    display: grid;
    justify-items: center;
    align-items: center;

  }

  .warning{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 8%;
  }

  .alert{
    display: flex;
    justify-content: center;
    text-align: center;

  }



